#picture_viewer{
	position:fixed;
	width:100%;
	height:100%;
	background-color:black;
	background:rgba(0,0,0,0.6);
	display:none;
}

#picture_area{
	width:1008px;
	height:auto;
	background-color:black;
	margin:0px auto;
	margin-top:5%;
	background-image:url('img/loading.gif');
	background-repeat:no-repeat;
	background-position:center;	
}

img.viewer{
	position:fixed;
    width:1008px;
	height:auto;
	display:none;
}

img.close{
	position:absolute;
	width:37.8px;
	height:5%;
	margin-top:-1%;
	margin-left:78%;
	cursor:pointer;
    -webkit-filter:  brightness(70%);
	 filter:  brightness(70%);
}

img.close:hover{
     -webkit-filter:  brightness(100%);
	 filter:  brightness(100%);

}

#content_gallery{
	width:1240px;
	padding-bottom:20px;
}

#items{
	width:1240px;
	border-radius:55px;
	padding-bottom:30px;
	background-color:#CAE9E9;
	border:3px solid #4289C9;	
	margin-top:30px;
}

.game_description{
	display:inline-block;
	overflow:hidden;
	width:350px;
	height:350px;
	margin-left:20px;
	margin-bottom:20px;
	padding:0px 20px;
}

h2.game{
	font-size:30px;
	color:4A8ECB;
}

h3{
	color:#6A6C6E;	
}

a.download{
	font-size:25px;
	background-color:4A8ECB;
	color:white;
	padding:10px 25px;
	border-radius:20px;
	margin-left:-15px;
}

a.download:hover{
	background-color:246CAD;
}



h2.gallery_heading{
	width:1220px;
	display:block;
	border-top-right-radius:55px;
	border-top-left-radius:55px;
	margin-bottom:50px;
	font-family:helvetica;
	color:#4289C9;
	text-align:center;
	font-size:65px;
}

.gallery_item{
	background-color:#ECE7E7;
	background-image:url('img/loading.gif');
	background-repeat:no-repeat;
	background-position:center;
	border-radius:15px;
	display:inline-block;
	width:350px;
	height:350px;
	overflow:hidden;
	margin-right:20px;
	margin-bottom:20px;
}

.gallery_items:hover{
	-webkit-filter:  brightness(70%);
	filter:  brightness(70%);
	cursor:pointer;
}

img.gallery_items{
	
}	

.image_wrapper{
	margin:0px auto;
	margin-left:63px;
}





/*------------CSS codes for Responsive site-----------*/


@media screen and (max-width: 480px) {
	
#container{
	font-family:helvetica;
	width:95%;
	margin:0px auto;
	overflow:hidden;
	height:auto;
}

#content_gallery{
	width:100%;
	height:auto;
}

#items{
	width:100%;
	height:auto;
	background-color:#CAE9E9;
	border:1px solid #4289C9;
	border-radius:15px;
	padding:10px 0px;
	margin-bottom:30px;
	margin-top:20px;

}

h2.gallery_heading{
	font-size:25px;
	width:100%;	
	margin:0px;	
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	color:#0D72C4;
    text-shadow:none;
	background-image:none;
	margin-left:-10px;
	margin-bottom:10px;
}

.gallery_item{
	width:31%;
	height:auto;
	overflow:hidden;
	margin:0px auto;
	margin-bottom:1px;
}

#game{
	margin-left:30px;
}

.game_description{
	height:auto;
	padding-bottom:10px;
}

h2.game{
	font-size:20px;
}

h3{
    font-size:15px;	
}

a.download{
	font-size:25px;
	background-color:4A8ECB;
	color:white;
	padding:10px 25px;
	border-radius:20px;
	margin-left:-15px;
}


.gallery_items:hover{
	-webkit-filter:  brightness(70%);
	filter:  brightness(70%);
	cursor:pointer;
}

img.gallery_items{
	width:100%;
	height:auto;
}	

.image_wrapper{
	width:100%;
	margin:0px;
}

#picture_area{
	width:100%;
	height:auto;
	background-color:black;
	margin:0px auto;
	background-image:url('img/loading.gif');
	background-repeat:no-repeat;
	background-position:center;	
}

img.viewer{
	background-color:black;
    width:100%;
	height:auto;
	margin-top:35%;
	padding:3% 0% 3% 0%;
}

img.close{
	width:8%;
	height:auto;
	margin-top:32%;
	margin-left:93%;
}

#picture_viewer{
	position:fixed;
	width:100%;
	height:100%;
	background-color:black;
	display:none;
}



	
	






}



	
